## Library Implementation

In [1]:
#General Libraries
import certifi
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3
import urllib3
from urllib3 import request
from unicodedata import normalize
import datetime as dt
import sqlalchemy as sq

## Logger Setup

## Extract crop CSV

In [38]:
"""
Read and interpret CSV
"""

#read CSV
agri_csv = pd.read_csv('fao_data_crops_data.csv')

#view head and tale 
display(agri_csv.head(10))
display(agri_csv.tail(10))

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
0,Americas +,31,Area Harvested,2007.0,Ha,49404.0,A,agave_fibres_nes
1,Americas +,31,Area Harvested,2006.0,Ha,49404.0,A,agave_fibres_nes
2,Americas +,31,Area Harvested,2005.0,Ha,49404.0,A,agave_fibres_nes
3,Americas +,31,Area Harvested,2004.0,Ha,49113.0,A,agave_fibres_nes
4,Americas +,31,Area Harvested,2003.0,Ha,48559.0,A,agave_fibres_nes
5,Americas +,31,Area Harvested,2002.0,Ha,48506.0,A,agave_fibres_nes
6,Americas +,31,Area Harvested,2001.0,Ha,47767.0,A,agave_fibres_nes
7,Americas +,31,Area Harvested,2000.0,Ha,48747.0,A,agave_fibres_nes
8,Americas +,31,Area Harvested,1999.0,Ha,46978.0,A,agave_fibres_nes
9,Americas +,31,Area Harvested,1998.0,Ha,48571.0,A,agave_fibres_nes

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
2255339,World +,51,Production Quantity,1964.0,tonnes,143203.0,A,yautia_cocoyam
2255340,World +,51,Production Quantity,1963.0,tonnes,142094.0,A,yautia_cocoyam
2255341,World +,51,Production Quantity,1962.0,tonnes,123840.0,A,yautia_cocoyam
2255342,World +,51,Production Quantity,1961.0,tonnes,117284.0,A,yautia_cocoyam
2255343,fnSeqID,Footnote,NaN,NaN,NaN,NaN,NaN,yautia_cocoyam
2255344,Fc,Calculated Data,NaN,NaN,NaN,NaN,NaN,yautia_cocoyam
2255345,A,"May include official, semi-official or estimat...",NaN,NaN,NaN,NaN,NaN,yautia_cocoyam
2255346,NR,Not reported by country,NaN,NaN,NaN,NaN,NaN,yautia_cocoyam
2255347,F,FAO Estimate,NaN,NaN,NaN,NaN,NaN,yautia_cocoyam
2255348,*,Unofficial figure,NaN,NaN,NaN,NaN,NaN,yautia_cocoyam

## Extract Cattle Data from API

In [39]:
"""
Read API key, endpoint, define parameters, and create http pool manager and read api responce
"""
#api key and endpoint url
api_key = 'D9A13880-58EA-3A24-8CC2-A08A2C9A0E34'
url = 'https://quickstats.nass.usda.gov/api/api_GET'

#api paramters to retrieve cattle data 
parameters = {'key': api_key,
    'source_desc': 'SURVEY',  
    'agg_level_desc': 'NATIONAL',  
    'commodity_desc': 'CATTLE',
    'unit_desc': 'HEAD',
    'freq_desc': 'ANNUAL',
    'statisticcat':'COWS, INCL CALVES - INVENTORY'
}

#create http request pool manager and read api responce 
http = urllib3.PoolManager(cert_reqs='CERT_REQUIRED', ca_certs=certifi.where())
response = http.request('GET', url, fields=parameters)

display(response.status)

200

In [40]:
"""
If responce status is successful: notfity the user. Retreive the data from the responce and place into a readable format and flatten the data into a Pandas Dataframe
"""
if response.status == 200:
    print("Request successful!")
    read_response = json.loads(response.data.decode('utf-8'))
    agri_data_api = pd.json_normalize(read_response['data'])
    #agri_data_api.to_csv('agri_data.csv', index=False) 

else:
    print("Error:", response.status)
    agri_data_api = pd.DataFrame() # returning empty dataframe is good practice 

display(agri_data_api)

Request successful!

,begin_code,load_time,end_code,domaincat_desc,sector_desc,util_practice_desc,county_code,county_name,class_desc,freq_desc,...,state_alpha,country_name,prodn_practice_desc,watershed_desc,county_ansi,zip_5,asd_desc,state_fips_code,agg_level_desc,location_desc
0,00,2023-04-27 15:00:00.000,00,NOT SPECIFIED,ANIMALS & PRODUCTS,(EXCL INTER-FARM IN-STATE),,,(EXCL CALVES),ANNUAL,...,US,UNITED STATES,ALL PRODUCTION PRACTICES,,,,,99,NATIONAL,US TOTAL
1,00,2023-04-27 15:00:00.000,00,NOT SPECIFIED,ANIMALS & PRODUCTS,(EXCL INTER-FARM IN-STATE),,,(EXCL CALVES),ANNUAL,...,US,UNITED STATES,ALL PRODUCTION PRACTICES,,,,,99,NATIONAL,US TOTAL
2,00,2022-04-28 15:12:39.000,00,NOT SPECIFIED,ANIMALS & PRODUCTS,(EXCL INTER-FARM IN-STATE),,,(EXCL CALVES),ANNUAL,...,US,UNITED STATES,ALL PRODUCTION PRACTICES,,,,,99,NATIONAL,US TOTAL
3,00,2021-04-29 15:04:26.000,00,NOT SPECIFIED,ANIMALS & PRODUCTS,(EXCL INTER-FARM IN-STATE),,,(EXCL CALVES),ANNUAL,...,US,UNITED STATES,ALL PRODUCTION PRACTICES,,,,,99,NATIONAL,US TOTAL
4,00,2020-04-30 15:08:01.000,00,NOT SPECIFIED,ANIMALS & PRODUCTS,(EXCL INTER-FARM IN-STATE),,,(EXCL CALVES),ANNUAL,...,US,UNITED STATES,ALL PRODUCTION PRACTICES,,,,,99,NATIONAL,US TOTAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2071,00,2012-01-01 00:00:00.000,00,NOT SPECIFIED,ANIMALS & PRODUCTS,"SLAUGHTER, COMMERCIAL, FI",,,STEERS,ANNUAL,...,US,UNITED STATES,ALL PRODUCTION PRACTICES,,,,,99,NATIONAL,US TOTAL
2072,00,2012-01-01 00:00:00.000,00,NOT SPECIFIED,ANIMALS & PRODUCTS,"SLAUGHTER, COMMERCIAL, FI",,,STEERS,ANNUAL,...,US,UNITED STATES,ALL PRODUCTION PRACTICES,,,,,99,NATIONAL,US TOTAL
2073,00,2012-01-01 00:00:00.000,00,NOT SPECIFIED,ANIMALS & PRODUCTS,"SLAUGHTER, COMMERCIAL, FI",,,STEERS,ANNUAL,...,US,UNITED STATES,ALL PRODUCTION PRACTICES,,,,,99,NATIONAL,US TOTAL
2074,00,2012-01-01 00:00:00.000,00,NOT SPECIFIED,ANIMALS & PRODUCTS,"SLAUGHTER, COMMERCIAL, FI",,,STEERS,ANNUAL,...,US,UNITED STATES,ALL PRODUCTION PRACTICES,,,,,99,NATIONAL,US TOTAL
2075,00,2012-01-01 00:00:00.000,00,NOT SPECIFIED,ANIMALS & PRODUCTS,"SLAUGHTER, COMMERCIAL, FI",,,STEERS,ANNUAL,...,US,UNITED STATES,ALL PRODUCTION PRACTICES,,,,,99,NATIONAL,US TOTAL

### Staging Data

In [5]:
agri_csv.isnull().sum()

country_or_area         0
element_code            0
element               964
year                  964
unit                  964
value                 964
value_footnotes    479382
category                0
dtype: int64

In [6]:
agri_csv.dropna(axis = "index", thresh = 4, inplace = True)

In [7]:
agri_csv.isnull().sum()

country_or_area         0
element_code            0
element                 0
year                    0
unit                    0
value                   0
value_footnotes    478418
category                0
dtype: int64

In [8]:
agri_data_api.isnull().sum()

watershed_desc           0
prodn_practice_desc      0
country_name             0
group_desc               0
year                     0
state_alpha              0
statisticcat_desc        0
Value                    0
location_desc            0
agg_level_desc           0
state_fips_code          0
asd_desc                 0
zip_5                    0
county_ansi              0
short_desc               0
freq_desc                0
CV (%)                   0
class_desc               0
domaincat_desc           0
end_code                 0
util_practice_desc       0
county_name              0
county_code              0
sector_desc              0
load_time                0
begin_code               0
week_ending              0
state_name               0
state_ansi               0
commodity_desc           0
country_code             0
asd_code                 0
watershed_code           0
reference_period_desc    0
region_desc              0
source_desc              0
domain_desc              0
congr_district_code      0
unit_desc                0
dtype: int64

### Transforming Data

In [9]:
agri_csv['element'].unique()

array(['Area Harvested', 'Yield', 'Production Quantity', 'Seed',
       'Gross Production 1999-2001 (1000 I$)',
       'Net Production 1999-2001 (1000 I$)', 'Gross PIN (base 1999-2001)',
       'Grs per capita PIN (base 1999-2001)', 'Net PIN (base 1999-2001)',
       'Net per capita PIN (base 1999-2001)'], dtype=object)

In [10]:
agri_csv = agri_csv[agri_csv['element'].isin([ "Production Quantity"])]

In [11]:
agri_csv['element'].unique()

array(['Production Quantity'], dtype=object)

In [12]:
agri_csv.head()

,country_or_area,element_code,element,year,unit,value,value_footnotes,category
94,Americas +,51,Production Quantity,2007.0,tonnes,53955.0,A,agave_fibres_nes
95,Americas +,51,Production Quantity,2006.0,tonnes,53955.0,A,agave_fibres_nes
96,Americas +,51,Production Quantity,2005.0,tonnes,53955.0,A,agave_fibres_nes
97,Americas +,51,Production Quantity,2004.0,tonnes,54951.0,A,agave_fibres_nes
98,Americas +,51,Production Quantity,2003.0,tonnes,52648.0,A,agave_fibres_nes

In [13]:
agri_csv = agri_csv[['country_or_area', 'year', 'unit', 'value', 'category']]

In [14]:
agri_csv.head()

   country_or_area    year    unit    value          category
94      Americas +  2007.0  tonnes  53955.0  agave_fibres_nes
95      Americas +  2006.0  tonnes  53955.0  agave_fibres_nes
96      Americas +  2005.0  tonnes  53955.0  agave_fibres_nes
97      Americas +  2004.0  tonnes  54951.0  agave_fibres_nes
98      Americas +  2003.0  tonnes  52648.0  agave_fibres_nes

In [15]:
agri_csv['country_or_area'].unique()

array(['Americas +', 'Asia +', 'Caribbean +', 'Central America +',
       'Colombia', 'Cuba', 'Ecuador', 'El Salvador', 'Guatemala',
       'Low Income Food Deficit Countries +', 'Mexico',
       'Net Food Importing Developing Countries +', 'Nicaragua',
       'Philippines', 'Small Island Developing States +',
       'South America +', 'South-Eastern Asia +', 'World +',
       'Afghanistan', 'Africa +', 'Algeria', 'Argentina', 'Armenia',
       'Australia', 'Australia and New Zealand +', 'Azerbaijan',
       'Bosnia and Herzegovina', 'Bulgaria', 'Burkina Faso',
       'Central Asia +', 'Chile', 'China', 'China, mainland',
       "Côte d'Ivoire", 'Croatia', 'Cyprus', 'Eastern Asia +',
       'Eastern Europe +', 'Europe +', 'European Union +', 'France',
       'Georgia', 'Greece', 'Hungary', 'Iran, Islamic Republic of',
       'Iraq', 'Israel', 'Italy', 'Jordan', 'Kazakhstan', 'Kyrgyzstan',
       'LandLocked developing countries +', 'Least Developed Countries +',
       'Lebanon', 'Libyan Arab Jamahiriya', 'Moldova', 'Morocco', 'Nepal',
       'Northern Africa +', 'Northern America +',
       'Occupied Palestinian Territory', 'Oceania +', 'Pakistan',
       'Portugal', 'Slovenia', 'Southern Africa +', 'Southern Asia +',
       'Southern Europe +', 'Spain', 'Swaziland', 'Syrian Arab Republic',
       'Tajikistan', 'The former Yugoslav Republic of Macedonia',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Ukraine',
       'United Arab Emirates', 'United States of America', 'USSR',
       'Uzbekistan', 'Western Africa +', 'Western Asia +',
       'Western Europe +', 'Yemen', 'Yugoslav SFR', 'Bangladesh',
       'Canada', 'Denmark', 'Eastern Africa +', 'Egypt', 'Ethiopia',
       'Ethiopia PDR', 'India', 'Kenya', 'Madagascar', 'Malawi',
       'Netherlands', 'Northern Europe +', 'Peru', 'Poland', 'Romania',
       'Russian Federation', 'Slovakia', 'Tanzania, United Republic of',
       'Viet Nam', 'Zimbabwe', 'Albania', 'Austria', 'Belarus', 'Belgium',
       'Belgium-Luxembourg', 'Bhutan', 'Bolivia', 'Brazil',
       'Czech Republic', 'Czechoslovakia', 'Estonia', 'Finland',
       'Germany', 'Grenada', 'Honduras', 'Ireland', 'Japan',
       "Korea, Democratic People's Republic of", 'Korea, Republic of',
       'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Montenegro',
       'New Zealand', 'Norway', 'Paraguay', 'Réunion',
       'Saint Vincent and Grenadines', 'Serbia', 'Serbia and Montenegro',
       'South Africa', 'Sweden', 'Switzerland', 'United Kingdom',
       'Uruguay', 'Cameroon', 'Guadeloupe', 'Middle Africa +',
       'Indonesia', 'Malaysia', 'Maldives', 'Myanmar', 'Sri Lanka',
       'Thailand', 'Saudi Arabia', 'Zambia', 'Barbados', 'Cayman Islands',
       'Central African Republic', 'Congo',
       'Congo, Democratic Republic of', 'Cook Islands', 'Costa Rica',
       'Dominica', 'Dominican Republic', 'French Guiana',
       'French Polynesia', 'Ghana', 'Guam', 'Guyana', 'Haiti', 'Jamaica',
       'Martinique', 'Micronesia +', 'Pacific Is', 'Panama',
       'Polynesia +', 'Puerto Rico', 'Saint Lucia', 'Samoa', 'Seychelles',
       'Timor-Leste', 'Trinidad and Tobago',
       'Venezuela, Bolivarian Republic of', 'Mali', 'American Samoa',
       'Angola', 'Antigua and Barbuda', 'Bahamas', 'Bahrain', 'Belize',
       'Benin', 'Bermuda', 'British Virgin Islands', 'Brunei Darussalam',
       'Burundi', 'Cambodia', 'Cape Verde', 'Comoros',
       'Equatorial Guinea', 'Fiji', 'Gabon', 'Guinea', 'Guinea-Bissau',
       'Kiribati', 'Kuwait', "Lao People's Democratic Republic",
       'Liberia', 'Mauritius', 'Melanesia +',
       'Micronesia, Federated States of', 'Montserrat', 'Mozambique',
       'New Caledonia', 'Niue', 'Oman', 'Papua New Guinea',
       'Sao Tome and Principe', 'Senegal', 'Singapore', 'Solomon Islands',
       'Somalia', 'Sudan', 'Suriname', 'Togo', 'Tokelau', 'Tonga',
       'Tuvalu', 'Uganda', 'US Virgin Islands', 'Vanuatu',
       'Wallis and Futuna Islands', 'Eritrea', 'Lesotho', 'Mauritania',
       'Mongolia', 'Qatar', 'Rwanda', 'Western Sahara', 'Chad',
       'Djibouti', 'Niger', 'Iceland', 'Sierra Leone',
       'Saint Kitts and Nevis', 'Nigeria', 'Saint Pierre and Miquelon',
       'Gambia', 'Botswana', 'Namibia', 'Marshall Islands', 'Nauru',
       'Saint Helena', 'Liechtenstein', 'Faroe Islands'], dtype=object)

In [16]:

agri_csv = agri_csv[agri_csv['country_or_area'] == "United States of America"]

In [17]:
agri_csv['country_or_area'].unique()

array(['United States of America'], dtype=object)

In [18]:
agri_data_api['statisticcat_desc'].unique()

array(['SALES', 'LOSS, DEATH', 'SLAUGHTERED', 'CALF CROP',
       'SALES FOR SLAUGHTER', 'INVENTORY, AVG', 'SHIPMENTS IN'],
      dtype=object)

In [19]:
agri_data_api['country_name'].unique()

array(['UNITED STATES'], dtype=object)

In [20]:
agri_data_api.loc[agri_data_api['country_name'] == 'UNITED STATES', 'country_name'] = 'United States of America'
agri_data_api['country_name'].unique()

array(['United States of America'], dtype=object)

In [21]:
agri_data_api = agri_data_api[agri_data_api['statisticcat_desc'] == 'INVENTORY, AVG']

In [22]:
agri_data_api['statisticcat_desc'].unique()

array(['INVENTORY, AVG'], dtype=object)

In [23]:
agri_data_api.head()

,watershed_desc,prodn_practice_desc,country_name,group_desc,year,state_alpha,statisticcat_desc,Value,location_desc,agg_level_desc,...,commodity_desc,country_code,asd_code,watershed_code,reference_period_desc,region_desc,source_desc,domain_desc,congr_district_code,unit_desc
1202,,ALL PRODUCTION PRACTICES,United States of America,LIVESTOCK,2023,US,"INVENTORY, AVG","9,386,000",US TOTAL,NATIONAL,...,CATTLE,9000,,00000000,YEAR,,SURVEY,TOTAL,,HEAD
1203,,ALL PRODUCTION PRACTICES,United States of America,LIVESTOCK,2022,US,"INVENTORY, AVG","9,400,000",US TOTAL,NATIONAL,...,CATTLE,9000,,00000000,YEAR,,SURVEY,TOTAL,,HEAD
1204,,ALL PRODUCTION PRACTICES,United States of America,LIVESTOCK,2021,US,"INVENTORY, AVG","9,449,000",US TOTAL,NATIONAL,...,CATTLE,9000,,00000000,YEAR,,SURVEY,TOTAL,,HEAD
1205,,ALL PRODUCTION PRACTICES,United States of America,LIVESTOCK,2020,US,"INVENTORY, AVG","9,396,000",US TOTAL,NATIONAL,...,CATTLE,9000,,00000000,YEAR,,SURVEY,TOTAL,,HEAD
1206,,ALL PRODUCTION PRACTICES,United States of America,LIVESTOCK,2019,US,"INVENTORY, AVG","9,335,000",US TOTAL,NATIONAL,...,CATTLE,9000,,00000000,YEAR,,SURVEY,TOTAL,,HEAD

In [24]:
agri_data_api = agri_data_api[['country_name', 'Value','unit_desc', 'year', 'commodity_desc']]

In [25]:
agri_data_api.head()

                  country_name      Value unit_desc  year commodity_desc
1202  United States of America  9,386,000      HEAD  2023         CATTLE
1203  United States of America  9,400,000      HEAD  2022         CATTLE
1204  United States of America  9,449,000      HEAD  2021         CATTLE
1205  United States of America  9,396,000      HEAD  2020         CATTLE
1206  United States of America  9,335,000      HEAD  2019         CATTLE

In [26]:
def comma_separated_to_number(value):
    delim = ','
    temp = value.split(delim)
    output = ''
    for each in temp:
        output = output + each
    return output

In [27]:
agri_data_api['Value'] = agri_data_api['Value'].apply(comma_separated_to_number)

In [28]:
agri_data_api.head()

                  country_name    Value unit_desc  year commodity_desc
1202  United States of America  9386000      HEAD  2023         CATTLE
1203  United States of America  9400000      HEAD  2022         CATTLE
1204  United States of America  9449000      HEAD  2021         CATTLE
1205  United States of America  9396000      HEAD  2020         CATTLE
1206  United States of America  9335000      HEAD  2019         CATTLE

### Mapping Data

In [29]:
csv_data_rename = {'country_or_area': 'Country_Name', 'year': 'Year', 'unit': 'Unit', 'value': 'Value','category': 'Product'}
agri_csv.rename(columns = csv_data_rename, inplace = True)
agri_csv.head()

                   Country_Name    Year    Unit      Value             Product
10406  United States of America  2007.0  tonnes  1043266.0  almonds_with_shell
10407  United States of America  2006.0  tonnes   846131.0  almonds_with_shell
10408  United States of America  2005.0  tonnes   703431.0  almonds_with_shell
10409  United States of America  2004.0  tonnes   785985.0  almonds_with_shell
10410  United States of America  2003.0  tonnes   786262.0  almonds_with_shell

In [30]:
api_data_rename = {'country_name': 'Country_Name', 'year': 'Year', 'unit_desc':'Unit', 'commodity_desc': 'Product' }
agri_data_api.rename(columns = api_data_rename, inplace = True)
agri_data_api.head()

                  Country_Name    Value  Unit  Year Product
1202  United States of America  9386000  HEAD  2023  CATTLE
1203  United States of America  9400000  HEAD  2022  CATTLE
1204  United States of America  9449000  HEAD  2021  CATTLE
1205  United States of America  9396000  HEAD  2020  CATTLE
1206  United States of America  9335000  HEAD  2019  CATTLE

### Datatype Conversion

In [31]:
convert_to = { 'Year': 'int', 'Value': 'int', 'Country_Name': 'string', 'Product': 'string', 'Unit': 'string'}
agri_csv = agri_csv.astype(convert_to)
agri_data_api = agri_data_api.astype(convert_to)

### Merging Data

In [32]:
output = pd.concat([agri_data_api, agri_csv])
output.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5082 entries, 1202 to 2237299
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country_Name  5082 non-null   string
 1   Value         5082 non-null   int32
 2   Unit          5082 non-null   string
 3   Year          5082 non-null   int32
 4   Product       5082 non-null   string
dtypes: int32(2), string(3)
memory usage: 198.5 KB

In [33]:
output['Year'] = pd.to_datetime(output['Year'], format = '%Y')
output['Year'] = output['Year'].dt.year
output.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5082 entries, 1202 to 2237299
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country_Name  5082 non-null   string
 1   Value         5082 non-null   int32
 2   Unit          5082 non-null   string
 3   Year          5082 non-null   int32
 4   Product       5082 non-null   string
dtypes: int32(2), string(3)
memory usage: 198.5 KB

In [34]:
output.head()

                  Country_Name    Value  Unit  Year Product
1202  United States of America  9386000  HEAD  2023  CATTLE
1203  United States of America  9400000  HEAD  2022  CATTLE
1204  United States of America  9449000  HEAD  2021  CATTLE
1205  United States of America  9396000  HEAD  2020  CATTLE
1206  United States of America  9335000  HEAD  2019  CATTLE

###  Missing Values

In [35]:
output.isnull().sum()

Country_Name    0
Value           0
Unit            0
Year            0
Product         0
dtype: int64

### Writing Transformation Functions

In [41]:
def transform_csv_data(csv_data): 
    csv_data.dropna(axis = "index", thresh = 4, inplace = True)
    
    csv_data = csv_data[csv_data['element'].isin([ "Production Quantity"])]
    csv_data = csv_data[csv_data['country_or_area'] == "United States of America"]
    csv_data = csv_data[['country_or_area', 'year', 'unit', 'value', 'category']]
    
    csv_data_rename = {'country_or_area': 'Country_Name', 'year': 'Year', 'unit': 'Unit', 'value': 'Value','category': 'Product'}
    csv_data.rename(columns = csv_data_rename, inplace = True)
    
    convert_to = { 'Year': 'int', 'Value': 'int', 'Country_Name': 'string', 'Product': 'string', 'Unit': 'string'}
    csv_data = csv_data.astype(convert_to)
    
    return csv_data

def transform_api_data(api_data): 
    api_data = api_data[api_data['statisticcat_desc'] == 'INVENTORY, AVG']
    api_data = api_data[['country_name', 'Value','unit_desc', 'year', 'commodity_desc']]
    api_data.loc[api_data['country_name'] == 'UNITED STATES', 'country_name'] = 'United States of America'
    api_data['Value'] = api_data['Value'].apply(comma_separated_to_number)

    api_data_rename = {'country_name': 'Country_Name', 'year': 'Year', 'unit_desc':'Unit', 'commodity_desc': 'Product' }
    api_data.rename(columns = api_data_rename, inplace = True)
    
    
    convert_to = { 'Year': 'int', 'Value': 'int', 'Country_Name': 'string', 'Product': 'string', 'Unit': 'string'}
    api_data = api_data.astype(convert_to)

    return api_data

def output_data(csv_data, api_data):
    output = pd.concat([csv_data, api_data])

    return output

### Running the Workflow

In [42]:
csv_data = transform_csv_data(agri_csv)
csv_data.head()

                   Country_Name  Year    Unit    Value             Product
10406  United States of America  2007  tonnes  1043266  almonds_with_shell
10407  United States of America  2006  tonnes   846131  almonds_with_shell
10408  United States of America  2005  tonnes   703431  almonds_with_shell
10409  United States of America  2004  tonnes   785985  almonds_with_shell
10410  United States of America  2003  tonnes   786262  almonds_with_shell

In [43]:
api_data = transform_api_data(agri_data_api)
api_data.head()

                  Country_Name    Value  Unit  Year Product
1202  United States of America  9386000  HEAD  2023  CATTLE
1203  United States of America  9400000  HEAD  2022  CATTLE
1204  United States of America  9449000  HEAD  2021  CATTLE
1205  United States of America  9396000  HEAD  2020  CATTLE
1206  United States of America  9335000  HEAD  2019  CATTLE

In [44]:
output = output_data(csv_data, api_data)
output.head()

                   Country_Name  Year    Unit    Value             Product
10406  United States of America  2007  tonnes  1043266  almonds_with_shell
10407  United States of America  2006  tonnes   846131  almonds_with_shell
10408  United States of America  2005  tonnes   703431  almonds_with_shell
10409  United States of America  2004  tonnes   785985  almonds_with_shell
10410  United States of America  2003  tonnes   786262  almonds_with_shell

In [46]:
engine = sq.create_engine('mysql+mysqlconnector://spandan_biswas:jmNfjgJw1qMw3@datasciencedb.ucalgary.ca/spandan_biswas')

create_table_query = '''
CREATE TABLE IF NOT EXISTS agriculture (
    Country_Name VARCHAR(255),
    Year INT,
    Unit VARCHAR(50),
    Value INT,
    Product VARCHAR(255),
    INDEX idx_country_year (Country_Name, Year)
)
PARTITION BY RANGE (Year) (
    PARTITION p0 VALUES LESS THAN (1990),
    PARTITION p1 VALUES LESS THAN (2000),
    PARTITION p2 VALUES LESS THAN (2010),
    PARTITION p3 VALUES LESS THAN (2020),
    PARTITION p4 VALUES LESS THAN MAXVALUE
);'''


with engine.connect() as con:
    con.execute(sq.text(create_table_query))

output_unique = output.drop_duplicates()

output_unique.to_sql('agriculture', con=engine, if_exists='append', index=False)

 
df_agriculture = pd.read_sql_table("agriculture", engine)
df_agriculture.head()

               Country_Name  Year    Unit   Value             Product
0  United States of America  1989  tonnes  371200  almonds_with_shell
1  United States of America  1988  tonnes  446900  almonds_with_shell
2  United States of America  1987  tonnes  500000  almonds_with_shell
3  United States of America  1986  tonnes  189400  almonds_with_shell
4  United States of America  1985  tonnes  352000  almonds_with_shell